:root {
    --colour-milan: #fbffa7;
    --colour-coral: #ff764d;
    --color-melrose: #b1c5ff;
    --color-mauve: #d5b3ff;
    --color-snowy-mint: #b6ffc0;
    --color-blue: #0000ff;
    --color-text-default: #000000;
}