@mixin fontSmallBold {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-text-default);
}

@mixin fontSmall {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-text-default);
}

@mixin fontLargeBold {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    color: var(--color-text-default);
}