@tailwind base;
@tailwind components;
@tailwind utilities;
@import './colors';

html,
body {
  font-family: futura-pt, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer utilities {
  *::-webkit-scrollbar {
    display: none;
  }

  .scrollbar::-webkit-scrollbar {
    display: block;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: var(--color-blue);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-dark-blue);
   }

   *::selection {
    background: var(--color-dark-blue);
    color: #FFF;
    text-shadow: none;
   }
}